#text1 {
  font-family: $quicksand;
  font-weight: 700;
}

#text2 {
  font-family: $quicksand;
  text-align: center;
  font-size: larger;
  font-weight: bold;
}
.name-design {
  border: none;
  margin-top: 3%;
  font-family: $quicksand;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  color: $white;
  font-weight: 700;
  font-size: x-large;
}

#link1 {
  font-family: $quicksand;
  font-weight: bolder;
  font-size: larger;
}

#link2 {
  font-family: $quicksand;
  font-weight: bolder;
  font-size: larger;
}

#link3 {
  font-family: $quicksand;
  font-weight: bolder;
  font-size: larger;
}

.mt-3{
  display: inline-block;
  border-radius: 8px;
  background-color:#292F33;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 20px;
  padding: 15px;
  width: 50%;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
  outline: none;
  height:13%;
}

.mt-3 span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.mt-3 span:after {
  content: '»';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.mt-3:hover span {
  padding-right: 25px;
}

.mt-3:hover span:after {
  opacity: 1;
  right: 0;
}

