.notFound {
  background-color: lightgrey;;
  
}

.errorText {
  font-size: xx-large;
  text-align: center;
  font-weight: 900;
}

.errorTextParagraph{
    font-size: xx-large;
    text-align: center;
}
